$padding: 10px;
$margin: 10px;

$radius: 5px;

$screenwidth: 600px;

$color-light: white;
$color-dark: black;
$color-primary: #497e04;
$color-secondary: darkgray;
$color-third: dimgray;
$color-bg: #ffdce2;
$color-disable: #415E1A;

$font: 16px;
